<div *ngIf="person" class="wrapper">
  <section class="flex_between profile">
    <div class="profile__image">
      <div *ngIf="person.profile_path">
        <img src='https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ person.profile_path }}'
             [alt]="person.name" class="image">
      </div>
      <div class="image__content"  *ngIf="!person.profile_path">
        <p>There is no photo of this actor <br>at the moment </p>
      </div>
    </div>
    <section class="profile__biography">
      <a class="link profile__name">
        {{ person.name }}
      </a>
      <h3>Biography</h3>
      <div *ngIf="person.biography">
        <p class="profile__biography-content">{{ person.biography }}</p>
      </div>
      <div *ngIf="!person.biography">
        <p>There is no biography of this actor at this moment.</p>
      </div>
    </section>
  </section>
  <section class="flex_between">
    <div class="info">
      <h3 class="info-title">Information about person</h3>
      <p class="info__item">
        <strong class="title">Gender</strong>
        {{ personGender }}
      </p>
      <p class="info__item">
        <strong class="title">Birthday</strong>
        {{ person.birthday ? person.birthday : '-' }}
      </p>
      <p class="info__item">
        <strong class="title">Place of birth</strong>
        {{ person.place_of_birth ? person.place_of_birth : '-' }}
      </p>
      <p class="info__item">
        <strong class="title">Official site</strong>
        <a [href]="person.homepage" class="link">{{ person.homepage ? person.homepage : '-'}}</a>
      </p>
      <p *ngIf='person.also_known_as.length' class="info__item">
        <strong class="title">Also known as</strong>
        <span *ngFor="let name of person.also_known_as">{{ name }}<br></span>
      </p>
    </div>
    <div *ngIf="person.jobs" class="big_column">
      <app-work [jobs]="person.jobs"></app-work>
    </div>
  </section>
</div>
