@import "../../../assets/scss/colors";

.flex {
  &_between {
    display: flex;
    justify-content: space-between;
  }
  &_wrap {
    flex-wrap: wrap;
  }
}

.title {
  display: block;
  font-size: 16px;
}

.link {
  color: $gray;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $white;
  }
}

.wrapper {
  margin: 50px 0;
  color: $gray;
}

.big_column {
  width: 70%;
}

.profile {
  &__image {
    margin: auto 30px;
  }
  &__biography {
    margin: auto;
    h3 {
      margin: 0;
      padding: 20px 0;
    }
  }
  &__name {
    font-weight: 700;
    font-size: 42px;
    color: $white;
  }
}

.info {
  width: 25%;
  margin-right: 5%;
  margin-top: 20px;
  &__item {
    margin-bottom: 30px;
  }
  &-title {
    margin: 20px 0;
  }
}

.image__content {
  width: 300px;
  height: 450px;
  padding: 170px 0;
  color: $gray;
  font-size: 18px;
  border: 1px solid $gray;
  text-align: center;
}

.popular {
  &__item {
    width: 150px;
    margin: 15px;
  }
  &-image {
    width: 150px;
  }
  &-name {
    text-align: center;
    padding: 5px 0;
  }
}


