<div class="person">
  <div class="person__card">
    <div class="person__profile">
      <a (click)="onSelect(person.id)" film-show class="person__img-block">
        <img *ngIf="!!person.profile_path"
             src='https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ person.profile_path }}' [alt]="person.name">
        <div *ngIf="!person.profile_path" class="glyphicon glyphicon-user person-no_image"></div>
        <div class="person__meta">
          <p class="text text_short person-name">{{ person.name }}</p>
          <p *ngIf=' person.known_for.length' class="text text_short person-films">
            {{ person.known_for[0]?.title || person.known_for[0]?.name }}, {{ person.known_for[1]?.title ||
            person.known_for[1]?.name}}
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
