@import "../../../../assets/scss/colors";

.text {
  margin: 0;
  font-family: "Roboto Medium", "Times New Roman";
  color: $black;
  &_short {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.person {
  &__card {
    margin: 20px;
  }
  &__profile {
    overflow: hidden;
    width: 100%;
  }
  &__img-block {
    display: block;
    text-decoration: none;
    cursor: pointer;
    img {
      height: 235px;
    }
  }
  &__meta {
    z-index: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    top: -40px;
    padding: 5px 10px;
    height: 40px;
    visibility: visible;
  }
  &-name {
    font-weight: 600;
    width: 135px;
  }
  &-films {
    width: 137px;
    visibility: hidden;
    font-weight: 100;
  }
  &-no_image {
    height: 235px;
    width: 156.6px;
    color: $gray;
    padding: 60px 49px;
    font-size: 56px;
    border: 1px solid $gray;
    border-bottom: none;
  }
}
