<div class="person">
    <div class="person__card">
      <div class="person__profile">
        <a (click)="onSelect(person.id)" film-show class="person__img-block">
          <img  src='https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ person.profile_path }}' alt="">
          <div  class="person__meta">
            <p class="person-name">{{ person.name }}</p>
            <p  class="text_short person-films">{{ person.known_for[0].title }}, {{ person.known_for[1].title}}</p>
          </div>
        </a>
      </div>
    </div>
</div>
