<div class="header">
  <div class="flex header__container">
    <div class="header__logo">
      <img src="../../../../assets/images/logo.svg" alt="Cute Tube">
    </div>
    <div class="flex flex_between header__large">
      <div class="header__nav" *ngIf="hiddenSearch">
        <ul>
          <li class="nav__item" *ngFor="let navBarItem of navbar">
            <a [routerLink]="[navBarItem.link]" class="nav__item-link">
              {{navBarItem.name}}
            </a>
            <div class="nav__list">
              <ul>
                <li class="list__item" *ngFor="let listItem of navBarItem.children">
                  <a [routerLink]="[listItem.link]"  class="list__item-link">{{listItem.name}} </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="flex flex_between header__large"  *ngIf="hiddenNav">
        <div>
          <form action="#" class="search__form">
            <input type="text" placeholder="Search movies..."
                   [(ngModel)]="searchWord"  [ngModelOptions]="{standalone: true}"
                   (ngModelChange)="loadSearchList($event)"
                   class="search-field">
            <div *ngIf="displaySearchResults" class="search__list">
              <ul>
                <li *ngFor="let item of searchList" class="search-item">
                  <span class="item__block item__content">
                    <span class="item__block">
                      <img *ngIf="item.poster_path || item.profile_path"
                            src='https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ item.poster_path || item.profile_path }}'
                           alt="" class="item-image">
                      <div *ngIf="!item.poster_path && !item.profile_path && (item.media_type === 'person')"
                           class="glyphicon glyphicon-user search__no_image">
                      </div>
                      <div *ngIf="!item.poster_path && !item.profile_path && (item.media_type !== 'person')"
                           class="glyphicon glyphicon-picture search__no_image">
                      </div>
                    </span>
                    <span class="item__block item__info" >
                      <span class="item__info-block">
                        <a (click)='goToSearchItem(item.media_type, item.id)'>{{ item.name || item.title}}</a>
                      </span>
                      <span class="item__info-block">
                        {{ item.release_date || item.first_air_date }}
                      </span>
                    </span>
                    <span class="item__block item__media-type">
                      <p >{{ item.media_type }}</p>
                    </span>
                  </span>

                </li>
              </ul>
            </div>
          </form>
        </div>
        <div>
          <a class="search-close" (click)="closeSearchField()"></a>
        </div>
      </div>
      <div class="flex" *ngIf="hiddenSearch">
        <div  class="header__search" >
          <a (click)="showSearchField()" class="search-btn"></a>
        </div>
        <div *ngIf="hiddenSearch" >
        <a [routerLink]="['/login']" class="login-btn">LOG IN</a>
      </div>
      </div>
  </div>
    <div class="header_mobile">
      <a class="mobile__nav-link" (click)="dropDownMobileList()" >
        <span *ngIf="!hiddenMobileNav" class="mobile-icon"></span>
        <span *ngIf="!hiddenMobileNav" class="mobile-icon"></span>
        <span *ngIf="!hiddenMobileNav" class="mobile-icon"></span>
        <span class="mobile__nav-close" *ngIf="hiddenMobileNav" >
          <a (click)="dropDownMobileList()"></a>
        </span>
      </a>
      <div class="mobile__login" *ngIf="hiddenSearch" >
        <a [routerLink]="['/login']" class="login-btn">LOG IN</a>
      </div>
      <div class="mobile__nav" *ngIf="hiddenMobileNav">
        <ul class="mobile__nav__list">
          <li class="nav__item mobile__nav__item" *ngFor="let navBarItem of navbar">
            <a [routerLink]="[navBarItem.link]"
               class="nav__item-link" >
              {{navBarItem.name}}
            </a>
          </li>
        </ul>
        <div class="mobile__search">
          <form action="#" class="search__form">
            <input type="text" placeholder="Search movies"
                   [(ngModel)]="searchWord"  [ngModelOptions]="{standalone: true}"
                   (ngModelChange)="loadSearchList($event)"
                   class="search-field">
            <div *ngIf="displaySearchResults" class="search__list">
              <ul>
                <li *ngFor="let item of searchList" class="search-item">
                  <span class="item__block item__content">
                    <span class="item__block">
                      <img *ngIf="item.poster_path || item.profile_path"
                           src='https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ item.poster_path || item.profile_path }}'
                           alt="" class="item-image">
                      <div *ngIf="!item.poster_path && !item.profile_path && (item.media_type === 'person')"
                           class="glyphicon glyphicon-user search__no_image">
                      </div>
                      <div *ngIf="!item.poster_path && !item.profile_path && (item.media_type !== 'person')"
                           class="glyphicon glyphicon-picture search__no_image">
                      </div>
                    </span>
                    <span class="item__block item__info" >
                      <span class="item__info-block">
                        <a (click)='goToSearchItem(item.media_type, item.id)'>{{ item.name || item.title}}</a>
                      </span>
                      <span class="item__info-block">
                        {{ item.release_date || item.first_air_date }}
                      </span>
                    </span>
                    <span class="item__block item__media-type">
                      <p >{{ item.media_type }}</p>
                    </span>
                  </span>

                </li>
              </ul>
            </div>
          </form>
        </div>
     </div>
    </div>
  </div>
</div>
