<div class="header">
  <div class="header__container">
    <div class="header__logo">
      <img src="./assets/images/logo.svg" alt="Cute Tube">
    </div>
    <div class="header__nav__large">
      <div class="header__nav" *ngIf="hiddenSearch">
        <ul class="header__nav">
          <li class="nav__link" *ngFor="let navBarItem of navbar">
            <a href="#" class="nav__link-item"
               (click)="dropDownList(navBarItem)">
              {{navBarItem.name}}
            </a>
            <div class="nav__list"
                 *ngIf="navBarItem.collapsed">
              <ul>
                <li class="nav__list-link" *ngFor="let listItem of navBarItem.children">
                  <a href="#" class="nav__list-item">{{listItem.name}}</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="header__nav__large"  *ngIf="hiddenNav">
        <div class="search__block">
          <form action="#" class="search">
            <input type="text" placeholder="Search movies" class="search-field">
          </form>
        </div>
        <div>
          <a class="search-close" (click)="closeSearchField()"></a>
        </div>
      </div>
      <div class="header__form" *ngIf="hiddenSearch">
        <div  class="header__search" >
          <a (click)="showSearchField()" class="header__search_btn"></a>
        </div>
        <div *ngIf="hiddenSearch" >
          <a [routerLink]="['/login']" class="header__login">LOG IN</a>
        </div>

      </div>
  </div>
    <div class="header_mobile">
      <a class="nav__mobile" (click)="dropDownMobileList()" >
        <span *ngIf="!hiddenMobileNav"></span>
        <span *ngIf="!hiddenMobileNav"></span>
        <span *ngIf="!hiddenMobileNav"></span>
        <span class="nav__mobile_close" *ngIf="hiddenMobileNav" >
          <a (click)="dropDownMobileList()"></a>
        </span>
      </a>
      <div class="nav__mobile__block" *ngIf="hiddenMobileNav">
        <ul class="nav__mobile__list">
          <li class="nav__link nav__link_mobile" *ngFor="let navBarItem of navbar">
            <a class="nav__link-item"  >
              {{navBarItem.name}}
            </a>
          </li>
        </ul>
     </div>
    </div>
  </div>
</div>
