$white: rgb(256, 256, 256);
$alto: rgb(215, 215, 215);
$silver: rgb(204, 204, 204);
$shiraz: rgb(167, 10, 40);
$gray: rgb(136, 136, 136);
$dove_gray: rgb(111, 111, 111);
$mine_shaft: rgb(33, 33, 33);
$cod_gray: rgb(30, 30, 30);
$black: rgb(0, 0, 0)

