<form class="registration">
  <h2>Registration</h2>
    <table class="registration__wrapper">
      <tr >
        <td class="registration__item">
          <label class="registration__label" for="login">Login:</label>
        </td>
        <td class="registration__item">
          <input class="registration__input" id="login" maxlength="30" name="login" type="text" placeholder="Create your login" />
        </td>
      </tr>
      <tr >
        <td class="registration__item">
          <label class="registration__label" for="email">Email_Address:</label>
        </td>
        <td class="registration__item">
          <input class="registration__input" id="email" maxlength="50" name="email" type="text" placeholder="Enter your email" />
        </td>
      </tr>
      <tr >
        <td class="registration__item">
          <label class="registration__label" for="password">Password:</label>
        </td>
        <td class="registration__item">
          <input class="registration__input" id="password" maxlength="50" name="password" type="password" placeholder="Create your password"/>
        </td>
      </tr>
      <tr >
        <td class="registration__item">
          <label class="registration__label" for="repeat">Repeat Password:</label>
        </td>
        <td class="registration__item">
          <input class="registration__input" id="repeat" maxlength="50" name="repeat" type="password" placeholder="Repeat your password" />
        </td>
      </tr>
      <tr >
        <td class="registration__item">
          <button class="registration__btn">Submit</button>
        </td>
      </tr>
    </table>
</form>
