<div *ngIf="item" class="poster">
  <div class="poster__image">
    <div class="image__content">
      <img src='https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ item.poster_path }}' [alt]='item.title || item.name'>
    </div>
  </div>
  <div class="poster__info">
    <div class="flex_between">
      <div class="poster__title">
        <h2>
          <a class="link"> {{ item.title || item.name }}
            <span>({{ getYear(item) }})</span>
          </a>
        </h2>
      </div>
      <div class="rating__fon">
        <div class="rating__circle">
          <div class="rating__percent">
              <span class="rating-value">
                {{ item.vote_average * 10 }}%
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="poster__description">
      <h3>Story</h3>
      <div>
        <p>
          {{ item.overview }}
        </p>
      </div>
      <h3>Creators</h3>
      <ol class="creator__list ">
        <li *ngFor="let creator of creators" class="creator__item">
          <p>
            <a (click)="goToPerson(creator.id)" class="link creator-name">{{ creator.name }}</a>
          </p>
          <p class="creator-role">{{ creator.job }}</p>
        </li>
      </ol>
    </div>
  </div>
</div>
