<app-item-detail [item]="movie" [creators]="movieCreators"></app-item-detail>
<div class="flex" *ngIf="movie">
  <div class="info">
    <div class="info__wrapper">
      <section *ngIf='movieCharacters.length' class="info__starring">
        <h3 class="starring-title">Starring</h3>
        <ol class="starring__list">
          <li *ngFor="let character of movieCharacters" class="starring__item" >
            <a href='/person/{{ character.id}}' class="starring-link">
              <img *ngIf="character.profile_path" class="starring-img"
                   src="https://image.tmdb.org/t/p/w138_and_h175_bestv2/{{ character.profile_path }}"
                   [alt]=" character.name ">
              <div *ngIf="!character.profile_path" class="glyphicon glyphicon-user starring-no_image"></div>
            </a>
            <div class="starring__detail">
              <p class="text_short starring-name">
                <a href='/person/{{ character.id}}' class="text_hover">
                  {{ character.name }}
                </a>
              </p>
              <p class="text_short starring-character">{{ character.character }}</p>
            </div>
          </li>
        </ol>
        <p class="starring-btn">
          <a>
            More
          </a>
        </p>
      </section>
      <section *ngIf="movieVideos?.length" class="info__video">
        <h3 class="">Video</h3>
        <div class="scroller">
          <div *ngFor="let video of movieVideos" class="video__item">
            <iframe width="640" height="360"
                    [src]="sanitizeUrl(video.key)"
                    frameborder="0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </section>
      <section *ngIf='moviesSimilar.length' class="info__similar">
        <h3>You will like it</h3>
        <div class="scroller">
          <div class="similar__item" *ngFor="let movieSimilar of moviesSimilar">
            <div class="similar__img-block">
              <a show >
                <img class="similar-img"
                  src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{ movieSimilar.poster_path}}" [alt]='movieSimilar.title'>
                <div class="meta">
                  <span class="meta__release-date">
                    <span class="glyphicon glyphicon-calendar meta-calendar">
                      {{movieSimilar.release_date}}
                  </span>
                  </span>
                </div>
              </a>
            </div>
            <p class="flex">
              <a href='/movie/{{movieSimilar.id}}' class="text_short similar-name">{{ movieSimilar.title}}</a>
              <span>
                {{ movieSimilar.vote_average }}
                <span class="glyphicon glyphicon-star similar-star"></span>
              </span>
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="facts">
    <h3 class="facts-title">Facts</h3>
    <p class="facts__item">
      <strong>Original title</strong>
      {{ movie.original_title ? movie.original_title : '-' }}
    </p>
    <p class="facts__item">
      <strong>Status</strong>
      {{ movie.status ? movie.status : '-' }}
    </p>
    <p class="facts__item">
      <strong>Release Information</strong>
      {{ movie.release_date | date:"longDate" }}
    </p>
    <p class="facts__item">
      <strong>Original language</strong>
      {{ movie.original_language | uppercase}}
    </p>
    <p class="facts__item">
      <strong>Time</strong>
      {{ (movie.runtime - (movie.runtime % 60)) / 60}}h {{ movie.runtime % 60}}m
    </p>
    <p class="facts__item">
      <strong>Budget</strong>
      ${{ movie.budget ? movie.budget : '-'}}
    </p>
    <p class="facts__item">
      <strong>Revenue</strong>
      ${{ movie.revenue ? movie.revenue : '-' }}
    </p>
    <p class="facts__item">
      <strong>Homepage</strong>
      <a [href]='movie.homepage'>{{ movie.homepage ? movie.homepage : '-' }}</a>
    </p>
    <section *ngIf="genres.length" class="facts__genres">
      <h4>Genres</h4>
      <ul>
        <li class="facts__list-item" *ngFor="let genre of genres">
          <a class="text_hover facts-link">
          {{ genre.name }}
          </a>
        </li>
      </ul>
    </section>
    <section *ngIf="movieKeywords.length" class="facts__keywords">
      <h4>Keywords</h4>
      <ul>
        <li  *ngFor="let keyword of movieKeywords" class="facts__list-item">
          <a class="text_hover facts-link">
            {{ keyword.name }}
          </a>
      </ul>
    </section>
  </div>
</div>
