<app-item-detail [item]="tv" [creators]="tvCreators"></app-item-detail>
<div class="flex wrapper" *ngIf="tv">
  <div class="info">
    <div class="info__wrapper">
      <section *ngIf="tvCharacters.length" class="info__starring">
        <h3 class="starring-title">Starring</h3>
        <ol class="starring__list">
          <li *ngFor="let character of tvCharacters" class="starring__item" >
            <a (click)="goToActor(character.id)" class="link starring-link">
              <img *ngIf="character.profile_path" class="starring-img"
                   src="https://image.tmdb.org/t/p/w138_and_h175_bestv2/{{ character.profile_path }}"
                   [alt]=" character.name ">
              <div *ngIf="!character.profile_path" class="glyphicon glyphicon-user starring-no_image"></div>
            </a>
            <div class="starring__detail">
              <p class="text_short starring-name">
                <a (click)="goToActor(character.id)" class="link text_hover">
                  {{ character.name }}
                </a>
              </p>
              <p class="text_short starring-character">{{ character.character }}</p>
            </div>
          </li>
        </ol>
      </section>
      <section *ngIf="tvVideos.length" class="info__video">
        <h3>Video</h3>
          <div *ngFor="let video of tvVideos" class="video__item">
            <iframe width="640" height="360"
                    [src]="sanitizeUrl(video.key)"
                    frameborder="0" allowfullscreen>
            </iframe>
          </div>
      </section>
      <section *ngIf="tvSimilar.length" class="info__similar">
        <h3>You will like it</h3>
        <div class="scroll">
          <div class="similar__item" *ngFor="let tvSimilar of tvSimilar">
            <div class="similar__img-block">
              <a class="similar-meta">
                <img class="similar-img"
                     src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{ tvSimilar.poster_path}}" [alt]='tvSimilar.name'>
                <div class="meta">
                  <span class="meta__release-date">
                    <span class="glyphicon glyphicon-calendar meta-calendar">
                      {{ tvSimilar.first_air_date }}
                  </span>
                  </span>
                </div>
              </a>
            </div>
            <p class="flex">
              <a (click)="goToSimilar(tvSimilar.id)" class="link text_short similar-name">{{ tvSimilar.name }}</a>
              <span>
                {{ tvSimilar.vote_average }}
                <span class="glyphicon glyphicon-star similar-star"></span>
              </span>
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="facts">
    <h3 class="facts-title">Facts</h3>
    <p class="facts__item">
      <strong class="title">Original title</strong>
      {{ tv.original_name }}
    </p>
    <p class="facts__item">
      <strong class="title">Status</strong>
      {{ tv.status }}
    </p>
    <p class="facts__item">
      <strong class="title">Company</strong>
      <span *ngFor="let network of tvNetworks">{{ network.name }}, </span>
    </p>
    <p class="facts__item">
      <strong class="title">Type</strong>
      {{ tv.type }}
    </p>
    <p class="facts__item">
      <strong>Original language</strong>
      {{ tv.original_language | uppercase}}
    </p>
    <p class="facts__item">
      <strong class="title">Episode's runtime</strong>
      <span *ngFor="let time of tv.episode_run_time ">{{time}}<br></span>
    </p>
    <p class="facts__item">
      <strong class="title">Number of seasons</strong>
      {{ tv.number_of_seasons }}
    </p>
    <p class="facts__item">
      <strong class="title">Homepage</strong>
      <a [href]='tv.homepage' class="link">{{ tv.homepage }}</a>
    </p>
    <section class="facts__genres">
      <h4>Genres</h4>
      <ul>
        <li class="facts__list-item" *ngFor="let genre of genres">
          <a class="link text_hover facts-link">
            {{ genre.name }}
          </a>
        </li>
      </ul>
    </section>
    <section class="facts__keywords">
      <h4>Keywords</h4>
      <ul>
        <li  *ngFor="let keyword of tvKeywords" class="link facts__list-item">
          <a class="link text_hover facts-link">
            {{ keyword.name }}
          </a>
      </ul>
    </section>
  </div>
</div>
