a {
  text-decoration: none;
  color: rgb(136, 136, 136);
}
p {
  margin: 0;
  padding: 10px 0;
}
h2 {
  color: rgb(136, 136, 136);
}


.flex_between {
  display: flex;
  justify-content: space-between;
}

.text_short {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movies {
  margin: 50px 5%;

  font-family: "Roboto Regular", "Times New Roman";
  color: rgb(136, 136, 136);
  &__item {
    padding-bottom: 50px;
    &:nth-child(odd) {
      padding-right: 15px;
    }
    &:nth-child(even) {
      padding-left: 15px;
    }
    &-wrapper {
      border: 1px solid rgb(136, 136, 136);
    }
  }
  &__image {
     height: 290px;
  }
  &__info {
    padding: 0 10px;
  }
  &-title {
    font-size: 20px;
  }
  &-name {
    font-weight: bold;
    width: 150px;
  }
  &-star {
    :before {
      content: '\E050';
    }
  }
  &-category {
    width: 160px;
    text-align: right;
    font-style: italic;
    @media(min-width: 991px) and (max-width: 1200px) {
      width: 120px;
    }
  }
  &-description {
    padding: 10px 0;
    max-height: 90px;
    overflow: hidden;

  }
  &-line {
    margin-top: 30px;
    color: rgb(136, 136, 136);
    border: none;
    background-color: rgb(136, 136, 136);
    height: 1px;
  }
  &-link {
    font-size: 18px;
  }
}
