@import "../../../../assets/scss/colors";

p {
  margin: 0;
  padding: 10px 0;
}

.link {
  text-decoration: none;
  color: $gray;
  &:hover {
    color: $white;
    cursor: pointer;
  }
  &_more {
    font-size: 18px;
  }
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

.text_short {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no_picture {
  height: 290px;
  font-size: 72px;
  padding: 85px 60px;
  border-right: 1px solid $gray;
}

.item {
  &__block {
    padding-bottom: 50px;
    &:nth-child(even) {
      padding-left: 15px;
    }
  }
  &__wrapper {
    border: 1px solid $gray;
  }
  &__info {
    padding: 0 10px;
    overflow: hidden;
  }
  &-img {
    height: 290px;
  }
  &-title {
    font-size: 20px;
  }
  &-link {
    font-weight: bold;
    width: 150px;
  }
  &-star {
    :before {
      content: '\E050';
    }
  }
  &-genres {
    width: 160px;
    text-align: right;
    font-style: italic;
    @media(min-width: 991px) and (max-width: 1200px) {
      width: 120px;
    }
  }
  &-description {
    padding: 10px 5px;
    max-height: 90px;
    overflow: hidden;
  }
}

.line {
  margin-top: 30px;
  color: $gray;
  border: none;
  background-color: $gray;
  height: 1px;
}


