<div class="item__block">
  <div class="flex_between item__wrapper">
    <div>
      <img src='https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ item.poster_path }}' [alt]='item.title' class="item-img">
    </div>
    <div class="item__info">
      <p class="flex_between item-title">
        <a [routerLink]="['/overview', item.id]"
           class="text_short item-link">
          {{ item.title }}
        </a>
        <span class="item-rating">
              {{ item.vote_average }}
              <span class="glyphicon glyphicon-star item-star"></span>
            </span>
      </p>
      <p class="flex_between">
        <span class="glyphicon glyphicon-calendar">{{ item.release_date.slice(0,4) }}</span>
        <span class="text_short item-genres"></span>
        <!--<span> {{(_moviesService.getGenres(movie.genre_ids) | async) }} </span>-->
      </p>
      <p class="item-description">
        {{item.overview }}
      </p>
      <hr class="line">
      <p class="item-more">
        <a [routerLink]="['/overview', item.id]"
           class="more-link">
          More
        </a>
      </p>
    </div>
  </div>
</div>
