<ul class="actions">
  <li class="rating">
    <div class="rating__fon">
      <div class="rating__circle">
        <div class="rating__percent">
              <span class="rating-value">
                {{ item.vote_average * 10 }}%
              </span>
        </div>
      </div>
    </div>
    <div class="rating__text">
      User
      <br>
      Score
    </div>
  </li>
  <li class="actions__tooltip">
    <a class="actions__link">
      <span class="glyphicon glyphicon-list actions-icon"></span>
    </a>
  </li>
  <li class="actions__tooltip">
    <a class="actions__link">
      <span class="glyphicon glyphicon-heart actions-icon"></span>
    </a>
  </li>
  <li class="actions__tooltip">
    <a class="actions__link">
      <span class="glyphicon glyphicon-bookmark actions-icon"></span>
    </a>
  </li>
  <li class="actions__tooltip">
    <a class="actions__link">
      <span class="glyphicon glyphicon-star actions-icon"></span>
    </a>
  </li>
  <li class="actions__tooltip">
    <a>
      <span class="glyphicon glyphicon-play"></span>
      Play Trailer
    </a>
  </li>
</ul>
