@import "../../../../assets/scss/colors";

.link {
  color: $gray;
  font-family: "Roboto Medium", "Times New Roman";
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $white;
  }
}
.table-work {
  border-collapse: collapse;
  color: $gray;
  width: 100%;
  &_tr {
    display: table-row;
  }
  &_td {
    display: table-cell;
    padding: 5px 0;
  }
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  padding: 20px 0;
}

.work {
  border: 1px solid $gray;
  margin: 20px;
  tr:last-child {
    td table {
      border-bottom: none;
    }
  }
  &__item {
    border-collapse: separate;
    border-bottom: 1px solid $gray;
    padding: 20px 0;
  }
  &-year {
    width: 15%;
    text-align: center;
    font-weight: 600;
  }
  &-video {
    font-size: 16px;
    font-weight: 600;
    &-title {
      display: block;
      color: $gray;
      margin: 0;
    }
  }
}

.buttons {
  display: block;
  margin: 20px 0;
  &-item {
    display: inline-block;
    background-color: $mine_shaft;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 0 5px;
  }
}
