<div class="wrapper">
  <div class="flex_between">
    <h3 class="work-title">Filming</h3>
    <span class="buttons">
    <a (click)="onTypeChange(showMovie)" class="buttons-item">Movies</a>
    <a (click)="onTypeChange(showSerial)" class="buttons-item">Serials</a>
  </span>
  </div>
    <table class="work">
      <tr  *ngFor="let item of cast | groupBy:'year' | sortByYear">
        <td>
          <table class="work__item">
            <tr *ngFor="let i of item">
              <td class="work-year">{{ i.year }}</td>
              <td>
                <a (click)="goToWork(i.id)" class="work-video">{{i.title || i.name}}</a>
                <span *ngIf="i.episode_count">... ({{i.episode_count}} episode)</span>
                <span *ngIf="i.character">as {{i.character}}</span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <div *ngFor="let item of crew |groupByDepartment: 'department'">
      <h3 class="work-title">{{ item.key }}</h3>
      <table class="work">
        <tr *ngFor="let job of item.result | groupBy:'year' | sortByYear">
          <td>
            <table class="work__item">
              <tr *ngFor="let j of job">
                <td class="work-year">{{ j.year }}</td>
                <td>
                  <a class="work-video">{{j.title || j.name}}</a>
                  <span *ngIf="j.episode_count">- ({{j.episode_count}} episode)</span>
                  <span *ngIf="j.job">... {{ j.job }}</span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
</div>
