<div class="container poster">
  <div class="poster__image">
    <div class="image__content">
      <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/bmBCZoh6Vm0DgMIWJMAfNVu60CA.jpg" alt="Сплит">
    </div>
    <div class="image__zoom">

    </div>
  </div>
  <div class="poster__info">
    <div class="poster__title">
      <h2>
        <a>Сплит
          <span>(2016)</span>
        </a>
      </h2>
    </div>
    <ul class="actions">
      <li class="rating">
        <div class="rating__fon">
          <div class="rating__circle">
            <div class="rating__percent">
              <span class="rating-value">
                68%
              </span>
            </div>
          </div>
        </div>
        <div class="rating__text">
          User
          <br>
          Score
        </div>
      </li>
      <li class="actions__tooltip">
        <a class="actions__link">
          <span class="glyphicon glyphicon-list actions-icon"></span>
        </a>
      </li>
      <li class="actions__tooltip">
        <a class="actions__link">
          <span class="glyphicon glyphicon-heart actions-icon"></span>
        </a>
      </li>
      <li class="actions__tooltip">
        <a class="actions__link">
          <span class="glyphicon glyphicon-bookmark actions-icon"></span>
        </a>
      </li>
      <li class="actions__tooltip">
        <a class="actions__link">
          <span class="glyphicon glyphicon-star actions-icon"></span>
        </a>
      </li>
      <li class="actions__tooltip">
        <a>
          <span class="glyphicon glyphicon-play"></span>
          Play Trailer
        </a>
      </li>
    </ul>
    <div class="poster__description">
      <h3>Сюжет</h3>
      <div>
        <p>
          Кевин, человек, в котором живет не менее двадцати трех личностей,
          вынужден похитить трех девочек подросткового возраста. Тем
          временем, пока они находятся в заточении, самая главная личность
          Кевина — Чудовище — материализуется.
        </p>
      </div>
      <h3>Создатели</h3>
      <ol>
        <li>
          <p>
            <a>M. Night Shyamalan</a>
          </p>
          <p>Director, Writer</p>
        </li>
      </ol>
    </div>
  </div>
</div>
