a {
  color: rgb(136, 136, 136);
  text-decoration: none;
}

.poster {
  display: flex;
  align-items: flex-start;
  font-family: "Roboto Medium", "Times New Roman";
  color: rgb(136, 136, 136);
  &__image {
    width: 300px;
  }
  &__info {
    margin: 0 5%;
  }
}

.rating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &__fon {
    width: 68px;
    height: 68px;
  }
  &__circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 4px;
    background-color: rgb(35, 35, 35);
    position: relative;
  }
  &__percent {
    position: absolute;
    top: 28%;
    left: 28%;
  }
  &-value {
    font-size: 16px;

  }
}
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  &__tooltip {
    margin-left: 30px;
  }
  &__link {
    display: inline-block;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    position: relative;
  }
  &-icon {
    position: absolute;
    top: 35%;
    left: 35%;
  }
}

.creator{
  &__list {
    display: block;
  }
  &__item {
    display: inline-block;
    width: 150px;
    margin: 10px;
  }
  &-name {
    font-size: 16px;
  }
  &-role {
    font-size: 14px;
    font-style: italic;
  }
}

